.side-card {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #cececece;
  padding:20px;
  margin-bottom: 20px;
}

.side-card.user-card {
  /*display: flex;*/
  align-items: center;
}

.upper-area{
  display: flex;
}


.avatar-container {
  /*position: relative;*/
  height: 64px;
  width: 64px;
  /*min-width: 44px;*/
}

.avatar-container img {
  display: block;
  border-radius: 90%;
}

.pravatar-container {
  /*position: relative;*/
  height: 64px;
  width: 64px;
  /*min-width: 44px;*/
}

.pravatar-container img {
  display: block;
  border-radius: 90%;
}

.meta {
  width: 100%;
  margin-left: 12px;
}

.meta span {
  display: block;
}

.meta span:first-child {
  font-size: .7rem;
  font-weight: 600;
  color: #999;
  text-transform: uppercase;
}

.meta span:nth-child {
  font-size: .9rem;
  font-weight: 600;
  color: #4a4a4a;
  text-transform: uppercase;
}





.side-card.is-totals .payment-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.side-card.is-totals .info-title{
  font-size: .7rem;
  font-weight: 600;
  color: #999;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.side-action {
  position: static;
  background: 0 0;
  width: 100%;
  padding: 0;
  display: flex;
  height:80px;
  align-items: center;
}

/*.user-bottom{*/
/*  padding-top:3px;*/
/*  border-top: grey solid 1px;*/
/*}*/
.user-bottom >span{
  display: flex;
}

.user-bottom span >fa-icon{
  width:25px;
}

.bottom-button {
  padding-top:10px;
}

.error-card {
  width: 100%;
  background-color:#F14668;
  border-radius: 8px;
  border: 1px solid #F14668;
  padding:20px;
  margin-bottom: 20px;
}

.error-card.is-totals .info-title{
  color:#871528;
}

.error-card.is-totals p{
  padding-top:12px;
}

.spinner {
  padding-right: 10px;
}


.checkout-side {
  padding-top:100px;
}
.checkout-side {
  padding-top: 80px;
}


.checkbox {
  display: flex;
  padding-bottom: 15px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  /*transform: translateY(-0.075em);*/
  margin-right: 7px;
}


input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
  min-width: 18px;
}

a {
  padding-left:5px;
  padding-right:5px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #00D1B2;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}



/*.error-card.is-totals p:first-child{*/
/*  color: #52d21d;*/
/*  padding-bottom: 2px;*/
/*}*/

/*.error-card.is-totals p > p:first-child{*/
/*  color: #52d21d;*/
/*  padding-bottom: 2px;*/
/*}*/



.info {
  border-radius: 5px;
  border: 2px solid #F9F9F9;
  margin: 10px;
  margin-bottom: 30px;
  background-color: #F9F9F9;
}

.info p{
  margin: 20px;
}



@media all and (max-width: 900px) {
  .checkout-side {
    padding-top:100px;
  }
  .checkout-side {
   padding-top: 80px;
  }
}







