<section class="section" id="about">
    <!-- Profile -->
    <div class="card">
        <div class="card-header profile-header">
            <h1>Project Owner</h1>
        </div>
        <div class="card-content">

            <nav class="level">

                <div class="level-left">
                    <div class="level-item">
                        <figure class="image is-64x64">
                            <img class="is-rounded"
                                 src="https://secure.gravatar.com/avatar/6211d5a1f15c0ad6c492e91beed5a6c1?s=80&d=identicon"
                                 alt="Icon">
                        </figure>
                    </div>

                    <div class="level-item profile-card-user">
                        <div class="row">
                            <p class="heading profile-card-name">bla</p>
                        </div>
                        <div class="row">
                            <p class="profile-card-username">username</p>
                        </div>
                    </div>

                </div>

            </nav>

            <div class="content">
                <table class="table-profile">
                    <tr>
                        <th colspan="1"></th>
                        <th colspan="2"></th>
                    </tr>
                    <tr>
                        <td>IP Address:</td>
                        <td>1332.230.221</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>bla@blu.com</td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="buttons has-addons is-left">
                <a href="#" class="button is-link">Profile</a>
            </div>
        </div>
    </div>

</section>