<!--<app-header></app-header>-->

<div class="checkout-wrapper">

    <div *ngIf="loading" class="checkout-main loading-spinner">
        <!-- Placeholder for your spinner; you can replace it with your spinner design -->
        <fa-icon class="spinner" [size]="'2x'" [icon]="faSpinner" [spin]="true" *ngIf="loading"></fa-icon>
        <p>Loading...</p>
    </div>

    <div class="checkout-main" *ngIf="!loading && hasMetadata; else noMetadata">

        <div class="checkout-container">


            <app-investigation-info></app-investigation-info>
<!--            <app-authors-card></app-authors-card>-->
<!--            <app-pipeline-tests></app-pipeline-tests>-->
            <app-authors></app-authors>

        </div>

    </div>


    <div class="checkout-side">


        <div class="side-inner">

            <app-checkout></app-checkout>
<!--            <button (click)="login()">login</button>-->
<!--            <button (click)="accessToken()">token</button>-->
<!--            <button (click)="getParams()">paramters</button>-->

        </div>


    </div>

</div>

<ng-template #noMetadata>
    <div *ngIf="error" class="checkout-main center-message">
        Could not load metadata
    </div>
</ng-template>
