<!--<app-header></app-header>-->

<div class="checkout-wrapper" *ngIf="hasMetadata; else noMetadata">

    <div class="checkout-main">

        <div class="checkout-container">


            <app-investigation-info></app-investigation-info>
<!--            <app-authors-card></app-authors-card>-->
<!--            <app-pipeline-tests></app-pipeline-tests>-->
            <app-authors></app-authors>

        </div>

    </div>


    <div class="checkout-side">


        <div class="side-inner">

            <app-checkout></app-checkout>
<!--            <button (click)="login()">login</button>-->
<!--            <button (click)="accessToken()">token</button>-->
<!--            <button (click)="getParams()">paramters</button>-->

        </div>


    </div>

</div>

<ng-template #noMetadata>
    <div class="center-message">
        Could not load metadata
    </div>
</ng-template>
