<nfdi-navbar></nfdi-navbar>
<app-header></app-header>

<router-outlet></router-outlet>

<nfdi-footer></nfdi-footer>

<!--<html>-->

<!--<head>-->
<!--  <meta content="noindex, nofollow" name="robots">-->
<!--  <meta content="width=device-width, initial-scale=1" name="viewport">-->
<!--  <meta charset="utf-8">-->
<!--  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>-->


<!--  &lt;!&ndash;  <script src="api.js" type="text/javascript"></script>&ndash;&gt;-->
<!--  <script src="nfdi-webcomponents.js" type="text/javascript"></script>-->
<!--  &lt;!&ndash;  <link href="dataplant.css" rel="stylesheet">&ndash;&gt;-->
<!--  &lt;!&ndash;  <link href="dataplant-extra.css" rel="stylesheet">&ndash;&gt;-->
<!--  <link href="images/favicon.ico" rel="icon" type="image/x-icon">-->


<!--</head>-->

<!--<body>-->

<!--<div class="columns is-desktop">-->

<!--  <div class="column">-->
<!--    <app-project-owner></app-project-owner>-->

<!--  </div>-->

<!--  <div class="column">-->
<!--    <app-project-owner></app-project-owner>-->
<!--  </div>-->

<!--</div>-->


<!--</body>-->

<!--example: https://nephos.cssninja.io/checkout-step1.html-->
<!--https://www.positronx.io/angular-httpclient-http-tutorial-build-consume-restful-api/-->


<!--<app-receipt></app-receipt>-->


<!--<body>-->

<!--<div class="checkout-wrapper">-->

<!--  <div class="checkout-main">-->

<!--    <div class="checkout-container">-->



<!--      <app-authors-card></app-authors-card>-->
<!--      <app-pipeline-tests></app-pipeline-tests>-->

<!--    </div>-->

<!--  </div>-->


<!--  <div class="checkout-side">-->


<!--    <div class="side-inner">-->

<!--      <app-checkout></app-checkout>-->

<!--    </div>-->


<!--  </div>-->

<!--</div>-->

<!--</body>-->

<!--</html>-->
